
header{
  padding: 75px 0 45px;
  text-align: center;
}

header h1{
  text-transform: uppercase;
  color: #d9d9d9;
  margin:0;
  font-weight: 800;
  letter-spacing: -3px
}
header p{
  margin:0 0 15px;
}
.profile-title{
  text-transform: uppercase;
  color:#8d8d8d;
  font-weight: bold
}
.profile-links a{
  padding: 0 15px;
  font-size: 14px
}
.thumbcircle{
  border-radius:50%;
  border: 5px solid #d9d9d9;
  background-color:#d9d9d9;
  height:99px;
  width: 99px;
  display: inline-block;
}
.thumbcircle img{
  border-radius:50%;  
}
.vertline{
  margin: -3px 0 -7px;
  font-size: 0;
  line-height: 0;
}
.vertline:after{
  content: ' ';
  display: inline-block;
  width: 1px;
  height:50px;
  background-color:#d9d9d9;
  margin-right: -4px;
}


section{}

body>section:nth-of-type(6n+1) .preview, body section:nth-of-type(6n+1) .modal-header{background-color:#0080ed}
body>section:nth-of-type(6n+2) .preview, body section:nth-of-type(6n+2) .modal-header{background-color:#7cb940}
body>section:nth-of-type(6n+3) .preview, body section:nth-of-type(6n+3) .modal-header{background-color:#939393}
body>section:nth-of-type(6n+4) .preview, body section:nth-of-type(6n+4) .modal-header{background-color:#c6c6c6}
body>section:nth-of-type(6n+5) .preview, body section:nth-of-type(6n+5) .modal-header{background-color:#989898}
body>section:nth-of-type(6n+6) .preview, body section:nth-of-type(6n+6) .modal-header{background-color:#c1c1c1}

.preview{
  cursor:pointer;
  color:#fff;
  text-align: center;
}
.project .preview{
  padding:5em 2em 0;
  transition: padding-top 0.2s; 
  height: 355px;
  overflow: hidden;
}
.project .preview img{
  border:15px solid #fff;
}
.project .preview:hover{
  padding-top: 3em;
}
.project svg{
  width: 300px;
  height: 130px;
  max-width:80%;
}

.row {margin: 8px;}
.grid{
  width:100%;
  float:left;
  position: relative;
  min-height: 1px;
  padding: 8px;
}
.grid .preview{
  padding: 50px 30px;
  background-color: #6b6b6b;
}
.grid svg{
  width:100%;
}
@media (min-width: 280px) {
  .grid{width:50%;}
}

@media (min-width: 480px) {
  .grid{width:33%;}
}

@media (min-width: 786px) {
  .grid{width:25%;}
}

