body{
  font: 15px/1 'Open Sans',sans-serif;
  font-weight: 300;
  position: relative;
  margin:0;
  color:#444;
}
h1,h2,h3,h4{font-weight: 300}
h1{font-size: 60px;font-weight: bold}
h2{font-size: 50px; margin-top:0;}
h3{font-size: 40px}
h4{font-size: 30px;margin:5px 0 0;}
body * {box-sizing: border-box;}
.clearfix:after{
  clear:both;
  content: ' ';
  display: block;
  height: 0;
  font-size:0;
  line-height: 0;
  overflow: hidden;
}
.pull-right{float:right;}
img{
  min-width: 70%;
  max-width: 100%
}
header{text-align: center;}
nav{text-align: center;}
footer{text-align: center;}


.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #000;
  display: none;
  opacity: 0.5;
}
.modal-open {overflow: hidden}
.modal {
  position: fixed;
  top:50%;
  bottom:50%;
  right: 0;
  left: 0;
  z-index: 1050;
  overflow: hidden;
  outline: 0;
  transition: all 0.4s;
}
.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;
}
.modal-open .active {
  top: 0%;
  bottom: 0%;
}
.modal-dialog {
  position:relative;
  width:auto;
}
.modal-content {
  position: relative;
  background-color: #fff;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  outline: 0;
  min-height: 100vh;
}
.modal-header {
  padding: 15px;
  border-bottom: 1px solid #e5e5e5;
  color:#fff;
}
.close{
  cursor: pointer;
  font-size: 59px;
  line-height: 33px;
  margin-top: 0;
  transform: rotate(0deg);
  transition: transform 0.25s;
  transform-origin: 17px 18px;
  /* height: 34px; */
  width: 33px;
}
.close:hover{
   transform: rotate(365deg); 
}
.modal-body {
  position: relative;
  padding: 15px;
  text-align: center;
}
.project-article{
  width:550px;
  margin:auto;
  text-align: left
}


section{}

body>section:nth-of-type(6n+1) .preview, body section:nth-of-type(6n+1) .modal-header{background-color:#0080ed}
body>section:nth-of-type(6n+2) .preview, body section:nth-of-type(6n+2) .modal-header{background-color:#7cb940}
body>section:nth-of-type(6n+3) .preview, body section:nth-of-type(6n+3) .modal-header{background-color:#939393}
body>section:nth-of-type(6n+4) .preview, body section:nth-of-type(6n+4) .modal-header{background-color:#c6c6c6}
body>section:nth-of-type(6n+5) .preview, body section:nth-of-type(6n+5) .modal-header{background-color:#989898}
body>section:nth-of-type(6n+6) .preview, body section:nth-of-type(6n+6) .modal-header{background-color:#c1c1c1}

.preview{
  cursor:pointer;
  color:#fff;
  text-align: center;
}
.project .preview{
  padding:5em 2em 0;
  transition: padding-top 0.2s; 
  height: 355px;
  overflow: hidden;
}
.project .preview img{
  border:15px solid #fff;
}
.project .preview:hover{
  padding-top: 3em;
}
.project svg{
  width: 300px;
  height: 130px;
  max-width:80%;
}

.row {margin: 8px;}
.grid{
  width:100%;
  float:left;
  position: relative;
  min-height: 1px;
  padding: 8px;
}
.grid .preview{
  padding: 50px 30px;
  background-color: #6b6b6b;
}
.grid svg{
  width:100%;
}
@media (min-width: 280px) {
  .grid{width:50%;}
}

@media (min-width: 480px) {
  .grid{width:33%;}
}

@media (min-width: 786px) {
  .grid{width:25%;}
}

